<mat-slide-toggle #slider (change)="change()" [(ngModel)]="isLinkedToGCalendar" >Lié à Coogle Calendar</mat-slide-toggle>
<div *ngIf="isLinkedToGCalendar">
  <app-calendar-chooser #chooser></app-calendar-chooser>
  <button mat-raised-button color="primary" *ngIf="chooser.selectedCalendar" (click)="push(chooser.selectedCalendar)">
    Synchroniser l'agenda de {{calendarMonth.month | amParse:'YYYY-MM-DD' | amLocale: 'fr' | amDateFormat: 'MMMM YYYY' }}
    vers le calendrier "{{chooser.selectedCalendar.summary}}"
  </button>
  <mat-progress-bar *ngIf="isSynching" color="primary" mode="indeterminate"></mat-progress-bar>
</div>
