<table class="calendar-display">
  <thead>
    <td>Date</td>
    <td>Début</td>
    <td>Fin</td>
    <td>Lieu</td>
    <td>Nature du service</td>
    <td>Formation</td>
  </thead>
  <tbody *ngFor="let day of days">
    <tr *ngIf="day.events.length == 0">
      <td class="date">{{day.date | amParse:'YYYY-MM-DD' | amLocale: 'fr' | amDateFormat: 'dddd D' | titlecase}}</td>
      <td colspan="5" class="empty-day"></td>
    </tr>
    <tr *ngFor="let event of day.events; let isFirstRow=first">
      <td *ngIf="isFirstRow" [attr.rowspan]="day.events.length" class="date">{{day.date | amParse:'YYYY-MM-DD' | amLocale: 'fr' | amDateFormat: 'dddd D' | titlecase}}</td>
      <td class="time">{{event.start | amParse: 'HH:mm:ss.SSS' | amLocale: 'fr' | amDateFormat: 'HH:mm'}}</td>
      <td class="time">{{event.end | amParse: 'HH:mm:ss.SSS' | amLocale: 'fr' | amDateFormat: 'HH:mm'}}</td>
      <td>{{event.location}}</td>
      <td>{{event.title}}</td>
      <td>{{event.group}}</td>
    </tr>
  </tbody>
</table>
